@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*::before,
*::after {
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #F2F2F2;
  color: #000000;
}

.page-container{
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgb(0, 0, 0.2);
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.navigation{
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list{
  margin: 0;
  padding: 0;
  width: 439px;
  margin-left: 44px;
}

.navigation-user{
  max-width: 308;
  margin-left: auto;
}

.navigation-link{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.logo{
  display: block;
  margin: 0 auto;
}

.hero{
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  color: #000000;
}

.welcome{
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.index-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 620px;
  height: 72px;
  margin: 0 auto;
  margin-top: 69px;
  margin-bottom: 25px;
}

.index-description{
  text-align: center;
  color: #333333;
  width: 651px;
  margin: 0 auto;
  padding-bottom: 90px;
}

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}

.advantages-title{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description{
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-item {
  color: #FFFFFF;
  width: 230px;
  height: 160px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 103px 85px 103px 85px;
}

.item-with-pictures{
  color: #FFFFFF;
  width: 1200px;
  min-height: 385px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.pictures-text{
  width: 230px;
  height: 160px;
  display: flex;
  flex-direction: column;
  padding: 103px 85px 103px 85px;
  margin: 0;
}

.advantages-image{
  width: 800px;
  display: block;
}

.advantages-town{
  color: #FFFFFF;
}

.advantages-bridge{
  color: #FFFFFF;
}

li.advantages-item:nth-child(1),
li.advantages-item:nth-child(5){
  color: #FFFFFF;
  background-color:#83b3d3;
}

li.advantages-item:nth-child(2),
li.advantages-item:nth-child(4){
  background-color: #83B3D31F;
}

li.advantages-item:nth-child(3){
  background-color: #83B3D333;
}

.services .index-title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  width: 505px;
  height: 72px;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 20px;
}

.services .index-description{
  width: 490px;
  height: 26px;
  margin: 0 auto;
  padding-bottom: 64px;
}

.services-description .services-home{
  text-align: center;
  color: #333333;
}

.services-list{
  display: flex;
  justify-content: center;
  height: 385px;
  padding: 0;
  margin: 0;
}

.services-title{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  order: 1;
}

.services-description{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  order: 3;
}

.services-item{
  width: 230px;
  padding: 80px 85px 80px 85px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}

li.services-item:nth-child(1),
li.services-item:nth-child(3){
  background-color: #83B3D31F;
}

.searching-title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  width: 297px;
  height: 36px;
  margin-top: 96px;
}

.searching-description{
  text-align: center;
  color: #333333;
  width: 592px;
  height: 52px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 54px;
}

.button-searching{
  text-align: center;
  background-color: #756157;
  padding: 8px 50px 8px 50px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  max-width: 276px;
  min-height: 36px;
  margin: 54px auto 0;
  margin-bottom: 96px;
}

.subscribe{
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 1200px;
  min-height: 415px;
}

.subscribe .subscribe-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  width: 404px;
  min-height: 37px;
  padding-top: 96px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.subscribe .subscribe-description{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  width: 475px;
  min-height: 53px;
  margin: 0 auto;
  padding-bottom: 54px;
}

.subscribe-form{
  text-align: center;
  width: 452px;
  height: 52px;
  margin: 0 auto;
  display: flex;
}

.subscribe-button{
  display: inline-block;
  background-color: #83b3d3;
  color: #FFFFFF;
  font-size: 20px;
  font-family: inherit;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  background-image: none;
  width: 232px;
  height: 52px;
  padding: 8px 50px;
  font-weight: 700;
  border: none;
  border-radius: 4px;

}

.main-footer{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1060px;
  min-height: 50px;
  padding: 40px 70px 30px;
}

.footer-social{
  width: 142px;
  min-height: 40px;
}

.social-link{
  background-color: #FFFFFF;
  color: #82B3D3;
}

.footer-contacts{
  width: 720px;
  height: 50px;
  text-align: center;
}

.contacts-link{
  color: #000000;
  width: 400px;
  height: 40px;
  text-decoration: none;
}

.footer-logo{
  width: 115px;
  height: 33px;
}

.filter-content{
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 35px 70px 70px 70px;
}

.inner-header{
  margin-bottom: 40px;
}

.filter-content-title{
  font-weight: 700;
  line-height: 78px;
  font-size: 60px;
  color: #FFFFFF;
}

.breadcrumbs{
  color: #FFFFFF;
  width: 114px;
  display: flex;
  flex-direction: row;
  padding-left: 0;
}

.breadcrumbs-link {
  color: inherit;
}

.breadcrumbs-home{
  background-image: url("../images/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 15px;
  background-size: 15px 15px;
  background-position: center;
  display: block;
  padding: 11px 6px;
}

.filter-content-form{
  display: flex;
  flex-wrap: wrap;
}

.content-group{
  border: none;
  padding: 0;
  margin: 0;
  width: 151px;
  margin-right: 69px;
  margin-bottom: 50px;
}

.content-group:nth-child(2) {
  margin-right: 140px;
}

.content-group-price{
  width: 288px;
  border: none;
}

.content-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

label.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.content-buttons{
  display: flex;
  flex-direction: column;
  width: 190px;
  min-height: 117px;
  margin-top: 56px;
}

.content-list{
padding: 0;
}

.button-submit{
  background-color: #82B3D3;
}

.button-reset{
  background-color: transparent;
}

.sorting-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  width: 1060px;
  margin: 0 auto;
}

.select-control .control-title{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.button-light{
  color: #000000;
  background-color: #ffffff;
}

.hotel-list{
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 70px;
}

.card-link{
  text-decoration: none;
}

.card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card-type{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.card-price{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-small-click{
  background-color: #82B3D3;
}

.button-small-done{
  background-color: #7DB54F;
}

.card-raiting{
  background-color: #F2F2F2;
  color:#333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination{
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
}

.pagination-link{
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.pagination-current{
  color: #000000;
  background-color: #F2F2F2;
}

.dots{
  color: #000000;
}

ul{
  list-style-type: none;
}

.subscribe-inner .subscribe-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-inner .subscribe-description{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}


.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
